
#navbar-list {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #333;
    background-color: #F2D20E;
}

#email-field {
    border-left: none;
    text-align: left;
}

#edit-dropdown {
    display: inline-block;
    width: 98%;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    width: 98%;
    vertical-align: middle;
}

.list-group-item {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item:first-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: none;
}

.list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    display: inline;
    float: left;
    width: 33%;
}

.edit-student {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* .btn.btn-primary {
    text-decoration-color: #333;
    border-color: white;
    color: #333;
    background-color: #F2D20E;
} */
